@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(203 213 225 / var(--tw-bg-opacity));
}
::-webkit-scrollbar-thumb {
    background: rgb(100 116 139 / var(--tw-bg-opacity));
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(71 85 105 / var(--tw-bg-opacity));
}

#svg > svg {
    width: 100%;
    max-width: 512px;
    height: auto;
}